[Unit]
Description=Virt test notification
After=sshd.service network-online.target systemd-user-sessions.service
Wants=network-online.target
Requires=sshd.service

[Service]
Type=oneshot
ExecStart=/opt/call_home.py

[Install]
WantedBy=multi-user.target
